# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
media/  # 存放用户上传的病害图片，不进仓库

# Node / Vue
node_modules/
dist/
.DS_Store

# YOLO / AI 相关
runs/   # 训练产生的日志和中间权重
*.pt    # 除非是最终模型，否则不建议全部提交
datasets/plant_disease/images/  # 图片文件不进仓库
datasets/plant_disease/labels/  # 标注文件不进仓库

# IDE
.vscode/
.idea/