# Python / Django 项目忽略
__pycache__/
*.py[cod]
*$py.class
# 虚拟环境 
venv/
env/
.env
# 数据库文件
db.sqlite3
# 媒体文件
media/
backend/media

# Node / Vue 前端忽略
node_modules/
dist/
.DS_Store

# YOLO / AI 模型与数据集忽略
runs/
# 训练好的模型权重
*.pt
# 数据集图片与标注
datasets/plant_disease/images/
datasets/plant_disease/labels/
datasets/plantdoc_raw/

# IDE 配置文件（个人配置，不提交）
.vscode/
.idea/

# 操作系统自动生成的文件
Thumbs.db
*.swp
*.swo